<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>share</key>
	<string>https://itunes.apple.com/gb/app/gausssquad/id1206653108</string>
	<key>review</key>
	<string>http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?id=1206653108&amp;type=Purple+Software&amp;mt=8</string>
	<key>support</key>
	<string>mailto:squad@iturbi.de</string>
</dict>
</plist>
